.container {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(131,58,180);
  background: linear-gradient(352deg, rgba(131,58,180,1) 0%, rgba(66,29,253,0.6596306068601583) 65%, rgba(252,176,69,1) 100%);
}
body {
  background: url(/img/cool-background.png);
}


